.itemtable {
    font-family: monospace;
    font-size: 15px;
    border-collapse: collapse;
    border: 1px solid rgb(119, 118, 118);
    width: 100%;
    color: black;
  }
  .itemtable th {
    background-color: #141414;
    color: #fffffe;
  }
  .itemtable td, .itemtable th, .itemtable tr {
    border: 1px solid rgb(119, 118, 118);
    padding: 8px;
  }

  #head {
    font-size: 20px;
    color: black;
  }
  .itemtable td img {
    width: 100px;
  }